* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

#bodyContainer {
    width: 1600px;
    height: 5000px;
    margin: auto;
}

.mainBlock {
    width: 1600px;
    margin: auto;
}

#header {
    background-image: url(../assets/layout/header/bg1shadow.png), url(../assets/layout/header/bg1.png);
    background-repeat: no-repeat;
    height: 750px;
}

#justTheRightFoodAbove {
    background-image: url(../assets/layout/justTheRightFoodAbove/pattern26.png), url(../assets/layout/justTheRightFoodAbove/bg2.png);
    height: 710px;
}

#fineIngredients {
    background-image: url(../assets/layout/fineIngredients/bg3.png);
    height: 758px;
}

#menu {
    background-image: url(../assets/layout/menu/pattern4.png), url(../assets/layout/menu/bg46.png);
    height: 994px;
}

#guestReview {
    background-image: url(../assets/layout/guestReviews/bg5.png);
    height: 758px;
    position: relative;
}

#justTheRightFoodBelow {
    background-image: url(../assets/layout/justTheRightFoodBelow/pattern26.png), url(../assets/layout/justTheRightFoodBelow/bgShadow.png);
    height: 710px;
}

#footer {
    background-image: url(../assets/layout/footer/bg7.png);
    height: 320px;
}

/*
HEADER STYLES
*/

.header {
    height: 9px;
}

.header * {
    display: inline-block;
}

#logo {
    font-size: 35px;
    position: absolute;
    top: 41px;
    left: 331px;
    font-family: 'Yeseva One';
}

.headerNav {
    position: absolute;
    top: 0;
    left: 490px;
    margin-left: 222px;
    padding: 0;
}

.headerNav a {
    margin: 0;
    padding: 48px 13px 18px 13px;
    height: 100%;
    margin-bottom: 7px;
    color: #FFFEFF;
    font-size: 21px;
    font-family: 'Gentium Book Basic';
    font-weight: bold;
}

.headerNav a:hover {
    border-top: 3px rgba(255, 255, 255, 0.6) solid;
    padding-top: 45px;
}

#navEl1 {
    margin-right: 21px;
}

#navEl2 {
    margin-right: 21px;
}

#navEl3 {
    margin-right: 27px;
}

#navEl4 {
    margin-right: 21px;
}

#navEl5 {
    margin-right: 23px;
}

#socialHeaderContainer {
    position: absolute;
    left: 1456px;
    top: 50px;
}

#socialHeaderContainer .fa {
    color: #E8B42E;
    font-size: 21px;
}

#socialTwitter {
    margin-right: 14px;
}

#socialYoutube {
    margin-right: 11px;
}

#calloutText {
    user-select: none; 
    position: absolute;
    text-align: center;
    line-height: 118px;
    font-size: 90px;
    width: 960px;
    left: 472px;
    top: 213px;
    font-family: 'Yeseva One';
}

#decoration {
    position: absolute;
    left: 840px;
    top: 474px;
}

.headerButton {
    background-color: rgba(0, 0, 0, 0.55);

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 20px;

    display: block;
    position: absolute;
    height: 37px;
    width: 228px;
}

.headerButton:hover {
    background-color: rgba(255, 255, 255, 0.23);
}

#bookATable {
    top: 551px;
    left: 708px;
}

#seeTheMenu {
    top: 551px;
    left: 966px;
}

/*
END HEADER STYLES
*/

/*
JUST THE RIGHT FOOD ABOVE STYLES
*/

#rightFoodAboveArticleContainer {
    display: inline-block;
    vertical-align: top;

    margin-top: 109px;
    margin-left: 294px;
}

#rightFoodAboveTitle {
    display: block;
    text-align: center;
    font-family: 'Yeseva One';
    font-size: 36px;
    line-height: 24px;
    color: #DD9A00;
}

#rightFoodAboveDecoration {
    display: block;
    margin: auto;
    margin-top: 23px;
}

#rightFoodAboveText {
    margin-top: 26px;
    width: 410px;

    text-align: center;
    font-family: 'Lato';
    font-size: 16px;
    line-height: 24px;
    color: #4C4C4C;
}

#cookerImg {
    margin-top: 49px;
    margin-left: 131px;
}

#dishImg {
    margin-top: 55px;
    margin-left: 31px;
}

/*
END JUST THE RIGHT FOOD ABOVE STYLES
*/

/*
FINE INGREDIENTS STYLES
*/

#ingredientsContainer {
    background: url(../assets/layout/fineIngredients/articleBg.png);
    height: 557px;
    width: 570px;

    position: absolute;
    top: 1560px;
    left: 967px;
}

#titleIngredients {
    display: block;
    text-align: center;
    font-family: 'Yeseva One';
    font-size: 36px;
    margin-top: 80px;
    display: block;
}

#decorationIngredients {
    display: block;
    margin: auto;
    margin-top: 16px;
}

#fineIngredientsText {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;

    width: 420px;
    margin-top: 25px;
    margin-left: 75px;
    line-height: 24px;
}

#ingredientsList {
    margin-top: 68px;
    margin-left: 90px;
}

#ingredientsList li {
    display: inline-block;
    margin-right: 26px;
}

/*
END FINE ENGREDIENTS STYLES
*/

/*
MENU STYLES
*/

#menu {
    vertical-align: top;
}

.menuCol {
    display: inline-block;
    margin-top: 109px;
    width: 456px;
}

#menuCol1 {
    margin-left: 272px;
}

#menuCol2 {
    margin-left: 141px;
}

.menuCat {
    display: block;
    margin-bottom: 73px;
}

.menuCatTitle {
    display: block;
    text-align: center;
    
    font-family: 'Yeseva One';
    font-size: 36px;
    line-height: 24px;
    color: #DD9A00;
}

.menuCatDecoration {
    display: block;
    margin: auto;
    margin-top: 23px;
    margin-bottom: 30px;
}

#menu ul {
    list-style: none;
    width: 465px;
}

#menu li {
    padding-right: 22px;
    padding-left: 11px;
    margin-bottom: 38px;
}

#menu .special {
    background: url(../assets/layout/menu/border.png) no-repeat;
    background-size: contain;

    margin-top: -30px;
    padding-top: 30px;
    padding-bottom: 12px;
    margin-bottom: 25px;
}

#menu .name {
    font-family: 'Yeseva One';
    color: #D7A015;
    font-size: 21px;
}

#menu .price {
    font-family: 'Yeseva One';
    color: #D7A015;
    font-size: 21px;

    float: right;
}

#menu .hr {
    display: block;
    margin-top: 8px;
    margin-bottom: 13px;
}

#menu .description {
    color: #4C4C4C;
    font-family: 'Lato';
}

/*
END MENU STYLES
*/

/*
GUEST REVIEWS STYLES
*/

#reviewsContainer {
    background: url("../assets/layout/guestReviews/articleBg.png");
    height: 557px;
    width: 770px;

    position: absolute;
    top: 100px;
    left: 415px;
}

#reviewsTitle {
    display: block;
    font-family: 'Yeseva One';
    font-size: 36px;

    margin-top: 79px;
    margin-left: 255px;
}

#reviewsDecoration {
    display: block;
    margin-top: 17px;
    margin-left: 263px;
}

#reviewsQuote {
    display: inline-block;
    font-family: 'Georgia';

    position: absolute;
    top: 161px;
    left: 28px;
    font-size: 96px;
    opacity: 0.6;
}

#reviewsText {
    display: inline-block;
    text-align: center;
    margin-top: 19px;
    margin-left: 72px;
    width: 627px;
    
    color: #DEE0DF;
    font-family: 'Gentium';
    font-weight: 700;
    font-size: 23px;

    line-height: 45px;
    word-spacing: 6px;
}

#reviewsSign {
    display: block;
    font-family: 'Lato';
    font-size: 18px;

    margin-top: 35px;
    text-align: center;
}

/*
END GUEST REVIEWS STYLES
*/

/*
JUST THE RIGHT FOOD BELOW STYLES
*/

#rightFoodBelowList {
    display: block;

    padding-top: 100px;
    padding-left: 215px;
}

#rightFoodBelowList li {
    display: inline-block;
    vertical-align: top;
}

#rightFoodBelowCherry {
    margin-left: 26px;
}

#rightFoodBelowArticle {
    margin-top: 5px;
    margin-left: 70px;
}

#rightFoodBelowTitle {
    display: block;
    text-align: center;
    font-family: 'Yeseva One';
    font-size: 36px;
    line-height: 24px;
    color: #DD9A00;
}

#rightFoodBelowDecoration {
    display: block;
    margin: auto;
    margin-top: 23px;
    margin-bottom: 26px;
}

.rightFoodBelowText {
    margin-left: 35px;
    margin-bottom: 10px;
    width: 415px;

    text-align: center;
    font-family: 'Lato';
    font-size: 16px;
    line-height: 24px;
    color: #4C4C4C;
}

#rightFoodBelowForm {
    width: 460px;
    margin-left: 25px;
    margin-top: 43px;
}

.fieldContainer {
    display: inline-block;
    margin-bottom: 27px;
}

#rightFoodBelowForm :nth-child(1) {
    margin-right: 26px;
}

#rightFoodBelowForm :nth-child(3) {
    margin-right: 5px;
}

.fieldContainer input {
    width: 156px;
    margin-top: 6px;
    padding: 6px;
    padding-left: 13px;
    padding-right: 30px;
    opacity: 0.5;

    color: black;
    border: 1px #C8C6C7 solid;
    border-radius: 0;

    font-family: 'Open Sans';
    font-style: italic;
    font-size: 16px;
}

.fieldContainer input:hover {
    border: 1px #C89F2D solid;
}

.fieldContainer input:focus {
    outline: none;
    border: 1px #C89F2D solid;
}

.fieldContainer label {
    display: block;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 14px;
    color: #D8A21D;
}

#calendarImg {
    cursor: pointer;
    position: relative;
    left: -30px;
}

#arrowImg {
    cursor: pointer;
    position: relative;
    top: -2px;
    left: -28px;
}

.submitBtn {
    margin-top: 7px;
    margin-left: 116px;

    border: 0;
    width: 200px;
    height: 36px;
    text-align: center;
    outline: none;
    cursor: pointer;
    background-color: #D7A016;
    color: #FEFEFE;
    font-family: 'Open Sans';
    font-size: 16px;
}

.submitBtn[disabled="true"] {
    opacity: 0.5;
    cursor: default;
}

/*
END JUST THE RIGHT FOOD BELOW STYLES
*/

/*
FOOTER STYLES
*/

#footerRow {
    margin-left: 215px;
    height: 100%;
}

.footerCol {
    display: inline-block;
    width: 370px;
    height: 100%;
    margin-right: 27px;
    vertical-align: top;
}


.footerTitle {
    display: block;
    text-align: center;

    font-family: 'Yeseva One';
    font-size: 21px;
    margin-top: 59px;
}


.footerDecoration {
    display: block;
    margin: auto;
    margin-top: 17px;
}


.footerText {
    display: inline-block;
    padding-left: 1px;
    margin: auto;
    margin-top: 18px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 24px;
}

.boldSpan {
    font-weight: bold;
}

#openingHoursText {
    margin-left: 86px;
}

#ourLocationText {
    margin-left: 83px;
}

.footerList {
    list-style: none;
    margin-top: 50px;
}

.footerList li {
    display: inline-block;
    margin-right: 7px;
}

#cardsList {
    margin-left: 126px;
}

#footerSocialList {
    margin-left: 145px;
}

#footerSocialList li:nth-child(2) {
    margin-right: 8px;
}

#footerSocialList li:nth-child(3) {
    margin-right: 8px;
}

#footerSocialList li:nth-child(4) {
    margin-right: 8px;
}

/*
END FOOTER STYLES
*/